@model BASMVC.Models.LocalPasswordModel



@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-group">
        <label>Staré heslo</label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Nové heslo</label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Potvrdenie hesla (zopakuj)</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="text-center">
        <button class="btn btn-default btn-cta" type="submit">Zmeň</button>
    </div>

}
